.game {
  display: flex;
}

.game__table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 4 4 0;
}

.game__opponents {
  align-self: center;
  width: 70%;
  height: calc( (100vh - var(--size-navbar-height)) * 0.25);
}

.game__queue {
  height: calc( (100vh - var(--size-navbar-height)) * 0.45);
  background-color: var(--color-blue-midnight-darkest);
}

.game__player {
  align-self: center;
  width: 100%;
  height: calc( (100vh - var(--size-navbar-height)) * 0.3);
}

.game__sidebar {
  flex: 1 1 0;
}

.game__status {
  height: calc( (100vh - var(--size-navbar-height)) * 0.25);
}

.game__messages {
  height: calc( (100vh - var(--size-navbar-height)) * 0.75);
  padding-left: 0.4rem;
}