.game {
  height: 100%;
}

.game__table {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 1;
}

.game__top-bar {
  display: flex;
  height: calc((100vh - var(--size-navbar-height)) * 0.2);
}

.game__queue {
  height: calc((100vh - var(--size-navbar-height)) * 0.45);
  background-color: var(--color-blue-midnight-darkest);
}

.game__bottom-bar {
  width: 100%;
  align-self: center;
  height: calc((100vh - var(--size-navbar-height)) * 0.333);
}

.game__sidebar {
  height: calc(100% - var(--size-navbar-height));
  width: 19%;
  position: absolute;
  right: 0;
  top: var(--size-navbar-height);
}

.game__status {
  height: calc((100vh - var(--size-navbar-height)) * 0.25);
}

.game__messages {
  height: calc((100vh - var(--size-navbar-height)) * 0.75);
}
