.rooms {
  display: flex;
  width: 70%;
  height: calc(100vh - var(--size-navbar-height));
  margin: 0 auto;
}

.rooms__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4 4 0;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 2rem;
}

.rooms__list::-webkit-scrollbar {
  display: none; /* webkit browsers */
}

.rooms__buttons {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  padding: 2rem;;
}