.create-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.create-room__title {
  margin-bottom: 2rem;
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-regular);
  text-align: left;
}

.create-room__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.create-room__form-group {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.create-room__input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-grey-mid);
  border-radius: 1rem;
  background-color: var(--color-blue-midnight);
  color: var(--color-white-off);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-mid);
}

.create-room__label {
  display: block;
  width: 100%;
  align-self: left;
  margin-bottom: 2rem;
  font-size: var(--font-size-mid);
  font-weight: var(--font-weight-chunky);
}