.queue-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 0;
}

.queue-card__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queue-card__back {
  font-family: var(--font-family-gothic);
  font-size: var(--font-size-biggest);
  font-weight: var(--font-weight-regular);
}

.queue-card__text {
  padding: 0.5rem;
  font-size: var(--font-size-smallest);
  text-align: center;
}

.queue-card__name {
  font-size: var(--font-size-smallest);
  font-weight: var(--font-weight-chunky);
}

.queue-card__influence {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  width: 3.6rem;
  height: 3.6rem;
  /* margin: 0 1rem 1rem; */
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-silver);
  filter: brightness(1.0);
  font-size: var(--font-size-bigger);
  text-align: center;
}

.queue-card__prompt {
  /* padding: 2rem 0; */
  font-size: var(--font-size-bigger);
  font-weight: var(--font-weight-regular);
  text-align: center;
}

.queue-card__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.queue-card__button {
  border: 0;
  background: transparent;
  line-height: 1.2;
  white-space: nowrap;
  cursor: pointer;
}

.queue-card__button-icon {
  color: var(--color-white);
  font-size: var(--font-size-biggest);
}