/* LINK https://stackoverflow.com/questions/43919067/make-flex-items-overlap */
.player-card__wrapper {
  height: 100%;
  width: 14.33%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.player-card__wrapper:last-child,
.player-card__wrapper:hover {
  overflow: visible;
}
.player-card__card {
  height: 95%;
  border-radius: 5px;
}
.player-card__card:hover {
  height: 150%;
  z-index: var(--layer-4);
  box-shadow: 0 0 1rem 1rem white;
}
