.player-card__wrapper {
  display: flex;
  align-items: center;
  /* flex: 1 1 0; */
}

.player-card__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: var(--layer-3);
  margin: 0 auto;
  background-image: url('../../assets/oriflamme-cards');
}