.player-card {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.player-card__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.player-card__text {
  padding: 3rem 0.5rem;
  font-size: var(--font-size-smaller);
  text-align: center;
}

.player-card__name {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-chunky);
}