.messages {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: var(--font-size-smaller);
}

.messages__header {
  padding: 1rem;
  font-family: var(--font-family-gothic);
  font-size: var(--font-size-biggest);
  font-weight: var(--font-weight-chunky);
  text-align: center;
}

.messages__compose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 2rem 1rem;
}

.messages__input {
  height: 100%;
  width: 80%;
  padding-left: var(--font-size-main);
  border: 1px solid var(--color-white);
  border-radius: 0.5rem;
  background-color: var(--color-blue-midnight);
  color: var(--color-white);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-mid);
}

.messages__send {
  height: 100%;
  border: none;
  border-radius: 2.5rem;
  background-color: var(--color-blue-midnight);
  color: var(--color-black);
  font-size: var(--font-size-main);
}
