.queue {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.queue__endzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3 3 0;
  padding: 1rem;
}

.queue__centrezone {
  display: flex;
  justify-content: center;
  flex: 94 94 0;
}

.queue__endzone--left {
  align-items: center;
}

.queue__endzone--right {
  align-items: center;
}

.queue__arrow {
  font-size: var(--font-size-arrows);
}

.queue__cards {
  display: flex;
  justify-content: center;
  width: 100%;
}
