.queue {
  display: flex;
  height: 100%;
}

.queue__endzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3 3 0;
  padding: 1rem;
}

.queue__arrow {
  font-size: var(--font-size-arrows);
}

.queue__cards {
  display: flex;
  justify-content: center;
  flex: 97 97 0;
}